<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    {{> header}}

    <h1>This is a project page</h1>
    <h2>hey check this blog</h2>
    <a href="https://maharshi-yeluri.github.io/learningcurve/">LearningBlog</a>
    <h2>Want's to know more about me and my projects</h2>
    <a href="https://maharshiyeluri.wixsite.com/maharshi">Resume website</a>
    {{> footer}}
  </body>
</html>
